body{
    background-color: black;
    border-style: double;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    color: rebeccapurple;
    font-family: Arial, Helvetica, sans-serif;
    height: 150px;
    
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
   
    
}

a{
    color: white;
    text-decoration: none;
    
}

h1{
    color: #5BBE42;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2{
    color: #5BBE42;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}

h3{
    color: rebeccapurple;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}

footer a{
    margin: 20px;
}

footer p{
    margin-top: 2px;
}

footer img{
    width: 40px;
    height: 40px;
    
}

footer{
    display: flex;
    justify-content: center;
}

.center{
    text-align: center;
}

header img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rebeccapurple;
    border-style: double;


 
    














